/* resete */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* raiz */
:root{
    --corPrincipal: #f9ca24;
    --corSecondaria: #111;
}

/* elementos */
form{
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

/* nivel 2 */
form input{
    width: 70%;
    background-color: #ccc;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid #000;
    text-align: center;
    font-size: 18px;
}

form button{
    width: 20%;
    height: 30px;
    /* fonte */
    font-size: 18px;
    /* arredondando */
    border-radius: 10px;
    background-color: rgb(166, 166, 168);
    color: #336f21;
}

/* classes */
.container{
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}